{
    "openapi": "3.0.1",
    "info": {
        "title": "Altzone API",
        "version": "1.0.0",
        "description": "This is a description of API for the Altzone game.\nThis swagger document is describing endpoint in more details and includes the request objects structure, examples, authorization rules and any other additional information.\nNotice,  that it does not include common rules and functions, since they are covered on the wikipages in GitHub",
        "x-logo": {
            "url": ""
        }
    },
    "servers": [
        {
            "url": "https://altzone.fi/api",
            "description": "Production. Stable version of API, which might not have all of the new changes"
        },
        {
            "url": "http://localhost:8080",
            "description": "Local"
        },
        {
            "url": "https://devapi.altzone.fi",
            "description": "Development. Current version of API with latest changes"
        }
    ],
    "paths": {
        "/clan": {
            "get": {
                "tags": [
                    "Clan"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/200"
                                },
                                "examples": {
                                    "1": {
                                        "value": {
                                            "data": {
                                                "Clan": [
                                                    {
                                                        "objectType": "ClanDto",
                                                        "_id": "67961fbb1b3237ccb9628a44",
                                                        "name": "clan1",
                                                        "tag": "clan1",
                                                        "clanLogo": {
                                                            "objectType": "ClanLogoDto",
                                                            "logoType": "Heart",
                                                            "pieceColors": [
                                                                "#FFFFFF",
                                                                "#000000"
                                                            ]
                                                        },
                                                        "labels": [
                                                            "eläinrakkaat"
                                                        ],
                                                        "gameCoins": 0,
                                                        "points": 0,
                                                        "admin_ids": [
                                                            "67961be31b3237ccb9628a37"
                                                        ],
                                                        "playerCount": 1,
                                                        "itemCount": 0,
                                                        "stockCount": 0,
                                                        "ageRange": "None",
                                                        "goal": "None",
                                                        "phrase": "Clan 1 is the best",
                                                        "language": "None",
                                                        "isOpen": true
                                                    },
                                                    {
                                                        "objectType": "ClanDto",
                                                        "_id": "66d70d08941f1d7be5033a3c",
                                                        "name": "clan1",
                                                        "labels": [
                                                            "eläinrakkaat",
                                                            "urheilevat",
                                                            "rikkaat"
                                                        ],
                                                        "gameCoins": 0,
                                                        "admin_ids": [
                                                            "66d705c645b40dd7f491e6eb"
                                                        ],
                                                        "playerCount": 1,
                                                        "itemCount": 0,
                                                        "stockCount": 0,
                                                        "ageRange": "None",
                                                        "goal": "None",
                                                        "language": "None",
                                                        "isOpen": true,
                                                        "clanLogo": {
                                                            "objectType": "ClanLogoDto",
                                                            "logoType": "Heart",
                                                            "pieceColors": [
                                                                "#FFFFFF",
                                                                "#000000"
                                                            ]
                                                        }
                                                    }
                                                ]
                                            },
                                            "metaData": {
                                                "dataKey": "Clan",
                                                "modelName": "Clan",
                                                "dataType": "Array",
                                                "dataCount": 2
                                            },
                                            "paginationData": {
                                                "currentPage": 1,
                                                "limit": 2,
                                                "offset": 0,
                                                "itemCount": 2,
                                                "pageCount": 1
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "description": "OK"
                    },
                    "404": {
                        "$ref": "#/components/responses/404_New"
                    },
                    "500": {
                        "$ref": "#/components/responses/500_New"
                    }
                },
                "security": [
                    {}
                ],
                "summary": "Read all clans",
                "description": "Read all created Clans. Remember about the pagination\n\n| Feature / Requirement | Is / Has |\n| -------- | -------- |\n| Authentication | no |\n| Authorization   | no |\n| Search | yes | \n| Sort | yes |\n| Pagination | yes | ",
                "externalDocs": {
                    "url": "https://github.com/Alt-Org/Altzone-Server/wiki/3.-Data-fetching-(GET-requests)"
                }
            },
            "put": {
                "requestBody": {
                    "description": "Clan object",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ClanUpdate"
                            },
                            "examples": {
                                "Clan": {
                                    "$ref": "#/components/examples/ClanWithId"
                                }
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "Clan"
                ],
                "responses": {
                    "204": {
                        "$ref": "#/components/responses/204"
                    },
                    "400": {
                        "$ref": "#/components/responses/400_New"
                    },
                    "401": {
                        "$ref": "#/components/responses/401_New"
                    },
                    "403": {
                        "$ref": "#/components/responses/403_New"
                    },
                    "404": {
                        "$ref": "#/components/responses/404_New"
                    },
                    "409": {
                        "$ref": "#/components/responses/409_New"
                    },
                    "500": {
                        "$ref": "#/components/responses/500_New"
                    }
                },
                "security": [
                    {
                        "JWTAuth": []
                    }
                ],
                "summary": "Update a clan",
                "description": "Update the Clan, which _id is specified in the body. \n\nOnly Clan admins can change the Clan's data, as well as add or remove admins. Notice that while removing Clan admins, its is not allowed to remove all of them, because Clan must have at least one admin.\n\n| Feature / Requirement | Is / Has |\n| -------- | -------- |\n| Authentication | yes |\n| Authorization   | only for Clan admins | \n\n\nThe **labels** enum values:\n\n|                         |                            |                      |                       |\n|-------------------------|----------------------------|----------------------|-----------------------|\n| 'eläinrakkaat'          | 'maahanmuuttomyönteiset'   | 'lgbtq+'             | 'raittiit'            |\n| 'kohteliaat'            | 'kiusaamisenvastaiset'     | 'urheilevat'         | 'syvälliset'          |\n| 'oikeudenmukaiset'      | 'kaikkien kaverit'         | 'itsenäiset'         | 'retkeilijät'         |\n| 'suomenruotsalaiset'    | 'huumorintajuiset'         | 'rikkaat'            | 'ikiteinit'           |\n| 'juoruilevat'           | 'rakastavat'               | 'oleilijat'          | 'nörtit'              |\n| 'musadiggarit'          | 'tunteelliset'             | 'gamerit'            | 'animefanit'          |\n| 'sinkut'                | 'monikulttuuriset'         | 'kauniit'            | 'järjestelmälliset'   |\n| 'epäjärjestelmälliset'  | 'tasa-arvoiset'            | 'somepersoonat'      | 'kädentaitajat'       |\n| 'muusikot'              | 'taiteilijat'              | 'spämmääjät'         | 'kasvissyöjät'        |\n| 'tasapainoiset'         |                            |                      |                       |\n\n-------------------------------------------------------------------------------------------------------\n\nThe **language** enum values:\n\n|             |           |             |               |\n|---------------------|-------------------|---------------------|-----------------------|\n| 'None'              | 'English'         | 'Finnish'           | 'Swedish'             |\n| 'Mandarin Chinese'  | 'Hindi'           | 'Spanish'           | 'French'              |\n| 'Arabic'            | 'Bengali'         | 'Russian'           | 'Portuguese'          |\n| 'Urdu'              | 'Indonesian'      | 'German'            | 'Japanese'            |\n| 'Swahili'           | 'Marathi'         |                     |                       |\n\n-------------------------------------------------------------------------------------------------------\n\nThe **goal** enum values:\n\n|         |          |        |     |\n|-----------------|------------------|----------------|--------------|\n| 'None'          | 'Fiilistely'      | 'Grindaus'     | 'Intohimoisuus' |\n| 'Keraily'       |                  |                |              |\n\n-------------------------------------------------------------------------------------------------------\n\nThe **ageRange** enum values:\n\n|       |       |       |   |\n|---------------|---------------|---------------|-----------|\n| 'None'        | 'Teenagers'    | 'Toddlers'    | 'Adults'  |\n| 'All'         |               |               |           |"
            },
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ClanCreate"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "Clan"
                ],
                "responses": {
                    "201": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/201"
                                },
                                "examples": {
                                    "1": {
                                        "value": {
                                            "data": {
                                                "Clan": {
                                                    "objectType": "ClanDto",
                                                    "_id": "67961fbb1b3237ccb9628a44",
                                                    "name": "clan1",
                                                    "tag": "clan1",
                                                    "clanLogo": {
                                                        "objectType": "ClanLogoDto",
                                                        "logoType": "Heart",
                                                        "pieceColors": [
                                                            "#FFFFFF",
                                                            "#000000"
                                                        ]
                                                    },
                                                    "labels": [
                                                        "eläinrakkaat"
                                                    ],
                                                    "gameCoins": 0,
                                                    "points": 0,
                                                    "admin_ids": [
                                                        "67961be31b3237ccb9628a37"
                                                    ],
                                                    "playerCount": 1,
                                                    "itemCount": 0,
                                                    "stockCount": 0,
                                                    "ageRange": "None",
                                                    "goal": "None",
                                                    "phrase": "Clan 1 is the best",
                                                    "language": "None",
                                                    "isOpen": true,
                                                    "Stock": {
                                                        "objectType": "StockDto",
                                                        "_id": "67961fbb1b3237ccb9628a47",
                                                        "cellCount": 20,
                                                        "clan_id": "67961fbb1b3237ccb9628a44"
                                                    },
                                                    "SoulHome": {
                                                        "objectType": "SoulHomeDto",
                                                        "_id": "67961fbb1b3237ccb9628a4f",
                                                        "name": "clan1",
                                                        "clan_id": "67961fbb1b3237ccb9628a44"
                                                    }
                                                }
                                            },
                                            "metaData": {
                                                "dataKey": "Clan",
                                                "modelName": "Clan",
                                                "dataType": "Object",
                                                "dataCount": 1
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Created"
                    },
                    "400": {
                        "$ref": "#/components/responses/400_New"
                    },
                    "401": {
                        "$ref": "#/components/responses/401_New"
                    },
                    "403": {
                        "$ref": "#/components/responses/403_New"
                    },
                    "409": {
                        "$ref": "#/components/responses/409_New"
                    },
                    "500": {
                        "$ref": "#/components/responses/500_New"
                    }
                },
                "security": [
                    {
                        "JWTAuth": []
                    }
                ],
                "summary": "Create a clan",
                "description": "Create a new Clan. The creator of the Clan becomes its admin. Notice that if Player is creating a new Clan, he/she becomes a member of it, that means that if Player is member of some Clan it can not create a new one, before leaving the old one.\n\nAlso endpoint creates Clan's Stock, as well as Clan's SoulHome and Rooms. For the created Clan a set of default Items will be added to Stock and to one of the SoulHome Rooms.\n\n| Feature / Requirement | Is / Has |\n| -------- | -------- |\n| Authentication | yes |\n| Authorization   | Player can be in one Clan only at one time => if Player already is in another Clan, he/she can not create a new one | \n\nThe **labels** enum values:\n\n|                         |                            |                      |                       |\n|-------------------------|----------------------------|----------------------|-----------------------|\n| 'eläinrakkaat'          | 'maahanmuuttomyönteiset'   | 'lgbtq+'             | 'raittiit'            |\n| 'kohteliaat'            | 'kiusaamisenvastaiset'     | 'urheilevat'         | 'syvälliset'          |\n| 'oikeudenmukaiset'      | 'kaikkien kaverit'         | 'itsenäiset'         | 'retkeilijät'         |\n| 'suomenruotsalaiset'    | 'huumorintajuiset'         | 'rikkaat'            | 'ikiteinit'           |\n| 'juoruilevat'           | 'rakastavat'               | 'oleilijat'          | 'nörtit'              |\n| 'musadiggarit'          | 'tunteelliset'             | 'gamerit'            | 'animefanit'          |\n| 'sinkut'                | 'monikulttuuriset'         | 'kauniit'            | 'järjestelmälliset'   |\n| 'epäjärjestelmälliset'  | 'tasa-arvoiset'            | 'somepersoonat'      | 'kädentaitajat'       |\n| 'muusikot'              | 'taiteilijat'              | 'spämmääjät'         | 'kasvissyöjät'        |\n| 'tasapainoiset'         |                            |                      |                       |\n\n-------------------------------------------------------------------------------------------------------\n\nThe **language** enum values:\n\n|             |           |             |               |\n|---------------------|-------------------|---------------------|-----------------------|\n| 'None'              | 'English'         | 'Finnish'           | 'Swedish'             |\n| 'Mandarin Chinese'  | 'Hindi'           | 'Spanish'           | 'French'              |\n| 'Arabic'            | 'Bengali'         | 'Russian'           | 'Portuguese'          |\n| 'Urdu'              | 'Indonesian'      | 'German'            | 'Japanese'            |\n| 'Swahili'           | 'Marathi'         |                     |                       |\n\n-------------------------------------------------------------------------------------------------------\n\nThe **goal** enum values:\n\n|         |          |        |     |\n|-----------------|------------------|----------------|--------------|\n| 'None'          | 'Fiilistely'      | 'Grindaus'     | 'Intohimoisuus' |\n| 'Keraily'       |                  |                |              |\n\n-------------------------------------------------------------------------------------------------------\n\nThe **ageRange** enum values:\n\n|       |       |       |   |\n|---------------|---------------|---------------|-----------|\n| 'None'        | 'Teenagers'    | 'Toddlers'    | 'Adults'  |\n| 'All'         |               |               |           |"
            }
        },
        "/profile": {
            "summary": "user profile",
            "description": "",
            "get": {
                "tags": [
                    "Profile"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/200_one"
                                },
                                "examples": {
                                    "1": {
                                        "value": {
                                            "data": {
                                                "Profile": {
                                                    "_id": "667ee778b3b5bf0f7a840ec9",
                                                    "username": "user1"
                                                }
                                            },
                                            "metaData": {
                                                "dataKey": "Profile",
                                                "modelName": "Profile",
                                                "dataType": "Object",
                                                "dataCount": 1
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "description": "OK"
                    },
                    "401": {
                        "$ref": "#/components/responses/401_New"
                    },
                    "500": {
                        "$ref": "#/components/responses/500_New"
                    }
                },
                "security": [
                    {
                        "JWTAuth": []
                    }
                ],
                "summary": "Read logged-in user Profile data",
                "description": "Read logged-in user Profile data\n\n| Feature / Requirement | Is / Has |\n| -------- | -------- |\n| Authentication | yes |\n| Authorization   | only own |\n| Search | no | \n| Sort | no |\n| Pagination | no | "
            },
            "put": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProfileUpdate"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "Profile"
                ],
                "responses": {
                    "204": {
                        "$ref": "#/components/responses/204"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401_New"
                    },
                    "500": {
                        "$ref": "#/components/responses/500_New"
                    }
                },
                "security": [
                    {
                        "JWTAuth": []
                    }
                ],
                "summary": "Update user Profile",
                "description": "Update logged-in user Profile data. Notice that only fields needed to be updated should be specified."
            },
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProfileCreate"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "Profile"
                ],
                "responses": {
                    "201": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/201"
                                },
                                "examples": {
                                    "1": {
                                        "value": {
                                            "data": {
                                                "Profile": {
                                                    "objectType": "ProfileDto",
                                                    "_id": "667ee778b3b5bf0f7a840ec9",
                                                    "username": "user6",
                                                    "Player": {
                                                        "objectType": "PlayerDto",
                                                        "_id": "667ee778b3b5bf0f7a840ecb",
                                                        "name": "User 6",
                                                        "backpackCapacity": 34,
                                                        "uniqueIdentifier": "6",
                                                        "profile_id": "667ee778b3b5bf0f7a840ec9"
                                                    }
                                                }
                                            },
                                            "metaData": {
                                                "dataKey": "Profile",
                                                "modelName": "Profile",
                                                "dataType": "Object",
                                                "dataCount": 1
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Created"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "409": {
                        "$ref": "#/components/responses/409_New"
                    },
                    "500": {
                        "$ref": "#/components/responses/500_New"
                    }
                },
                "security": [
                    {}
                ],
                "operationId": "profile_create",
                "summary": "Create profile",
                "description": "Create a user profile with Player object associated with it. Notice, that it is also possible in some edge cases to create a Profile without Player object assosiated with it, however it is not recommended and API expects that for every Profile there is a Player object created. "
            },
            "delete": {
                "tags": [
                    "Profile"
                ],
                "responses": {
                    "204": {
                        "$ref": "#/components/responses/204"
                    },
                    "401": {
                        "$ref": "#/components/responses/401_New"
                    },
                    "403": {
                        "$ref": "#/components/responses/403_New"
                    },
                    "500": {
                        "$ref": "#/components/responses/500_New"
                    }
                },
                "security": [
                    {
                        "JWTAuth": []
                    }
                ],
                "summary": "Delete Profile",
                "description": "Delete logged-in user's Profile. Notice, that Profile deletion will lead removing all user data, such as Player and CustomCharacters. Since the Player object is assosiated with the Clan, user will be also removed from the Clan. Notice, that if there was nobody in the Clan the Clan with all assosiated objects will be removed. However, in case if the user was admin in this Clan and there are no other admins the user must first set at least one admin for this Clan, overwise the Profile will not be removed and 403 will be returned."
            }
        },
        "/player": {
            "get": {
                "tags": [
                    "Player"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/200"
                                },
                                "examples": {
                                    "1": {
                                        "value": {
                                            "data": {
                                                "Player": [
                                                    {
                                                        "_id": "672388e8c7f8bb9dd570e83b",
                                                        "name": "user1",
                                                        "points": 110,
                                                        "uniqueIdentifier": "user1",
                                                        "above13": true,
                                                        "parentalAuth": true,
                                                        "profile_id": "672388e8c7f8bb9dd570e839",
                                                        "clan_id": "67238943c7f8bb9dd570e850",
                                                        "gameStatistics": {
                                                            "playedBattles": 0,
                                                            "wonBattles": 0,
                                                            "messages": [
                                                                {
                                                                    "date": "2024-10-31T18:05:02.641Z",
                                                                    "count": 11
                                                                }
                                                            ]
                                                        },
                                                        "id": "672388e8c7f8bb9dd570e83b"
                                                    }
                                                ]
                                            },
                                            "metaData": {
                                                "dataKey": "Player",
                                                "modelName": "Player",
                                                "dataType": "Array",
                                                "dataCount": 1
                                            },
                                            "paginationData": {
                                                "currentPage": 1,
                                                "limit": 1,
                                                "offset": 0,
                                                "itemCount": 1,
                                                "pageCount": 1
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "description": "OK"
                    },
                    "401": {
                        "$ref": "#/components/responses/401_New"
                    },
                    "404": {
                        "$ref": "#/components/responses/404_New"
                    },
                    "500": {
                        "$ref": "#/components/responses/500_New"
                    }
                },
                "security": [
                    {
                        "JWTAuth": []
                    }
                ],
                "summary": "Read all players",
                "description": "Read all created Players. Remember about the pagination\n\n| Feature / Requirement | Is / Has |\n| -------- | -------- |\n| Authentication | yes |\n| Authorization   | no |\n| Search | yes | \n| Sort | yes |\n| Pagination | yes | ",
                "externalDocs": {
                    "url": "https://github.com/Alt-Org/Altzone-Server/wiki/3.-Data-fetching-(GET-requests)"
                }
            },
            "put": {
                "requestBody": {
                    "description": "Player object",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PlayerUpdate"
                            },
                            "examples": {
                                "Player": {
                                    "$ref": "#/components/examples/PlayerWithId"
                                }
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "Player"
                ],
                "responses": {
                    "204": {
                        "$ref": "#/components/responses/204"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401_New"
                    },
                    "403": {
                        "$ref": "#/components/responses/403_New"
                    },
                    "404": {
                        "$ref": "#/components/responses/404_New"
                    },
                    "409": {
                        "$ref": "#/components/responses/409_New"
                    },
                    "500": {
                        "$ref": "#/components/responses/500_New"
                    }
                },
                "security": [
                    {
                        "JWTAuth": []
                    }
                ],
                "summary": "Update a player",
                "description": "Update the Player, which _id is specified in the body. Only Player, which belong to the logged-in Profile can be changed.\n\n| Feature / Requirement | Is / Has | \n| -------- | -------- | \n| Authentication | yes | \n| Authorization   | only for Player owner | \n"
            },
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PlayerCreate"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "Player"
                ],
                "responses": {
                    "201": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/201"
                                },
                                "examples": {
                                    "1": {
                                        "value": {
                                            "data": {
                                                "Player": {
                                                    "objectType": "PlayerDto",
                                                    "_id": "6686cb3b71adebdb10f33ffb",
                                                    "name": "User 2",
                                                    "backpackCapacity": 654,
                                                    "uniqueIdentifier": 2,
                                                    "profile_id": "6686cb3b71adebdb10f33ff9",
                                                    "above13": true,
                                                    "parentalAuth": true,
                                                    "points": 0
                                                }
                                            },
                                            "metaData": {
                                                "dataKey": "Player",
                                                "modelName": "Player",
                                                "dataType": "Object",
                                                "dataCount": 1
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Created"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/400_New"
                    },
                    "403": {
                        "$ref": "#/components/responses/403_New"
                    },
                    "409": {
                        "$ref": "#/components/responses/409_New"
                    },
                    "500": {
                        "$ref": "#/components/responses/500_New"
                    }
                },
                "security": [
                    {
                        "JWTAuth": []
                    }
                ],
                "summary": "Create a player for logged-in user",
                "description": "Create a new Player. This is not recommended way of creating a new Player and it should be used only in edge cases. The recommended way is to create it via /profile POST endpoint.\n\nPlayer is representing an object, which holds data related to game player. This object can be used inside the game for example while joining a Clan. Notice, that the Profile object should not be used inside the game (except for logging-in). \n\n| Feature / Requirement | Is / Has |\n| -------- | -------- |\n| Authentication | yes |\n| Authorization   | Player can be associated with only one Profile | \n"
            }
        },
        "/player/{_id}": {
            "get": {
                "tags": [
                    "Player"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/200_one"
                                },
                                "examples": {
                                    "1": {
                                        "value": {
                                            "data": {
                                                "Player": {
                                                    "_id": "672388e8c7f8bb9dd570e83b",
                                                    "name": "user1",
                                                    "points": 110,
                                                    "uniqueIdentifier": "user1",
                                                    "above13": true,
                                                    "parentalAuth": true,
                                                    "profile_id": "672388e8c7f8bb9dd570e839",
                                                    "clan_id": "67238943c7f8bb9dd570e850",
                                                    "gameStatistics": {
                                                        "playedBattles": 0,
                                                        "wonBattles": 0,
                                                        "messages": [
                                                            {
                                                                "date": "2024-10-31T18:05:02.641Z",
                                                                "count": 11
                                                            }
                                                        ]
                                                    },
                                                    "id": "672388e8c7f8bb9dd570e83b"
                                                }
                                            },
                                            "metaData": {
                                                "dataKey": "Player",
                                                "modelName": "Player",
                                                "dataType": "Object",
                                                "dataCount": 1
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "description": "OK"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "404": {
                        "$ref": "#/components/responses/404_New"
                    },
                    "500": {
                        "$ref": "#/components/responses/500_New"
                    }
                },
                "security": [
                    {}
                ],
                "summary": "Get Player by _id",
                "description": "Read Player data by its _id field\n\n| Feature / Requirement | Is / Has |\n| -------- | -------- |\n| Authentication | no |\n| Authorization   | no |\n| Search | no | \n| Sort | no |\n| Pagination | no | "
            },
            "delete": {
                "tags": [
                    "Player"
                ],
                "responses": {
                    "204": {
                        "$ref": "#/components/responses/204"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401_New"
                    },
                    "403": {
                        "$ref": "#/components/responses/403_New"
                    },
                    "404": {
                        "$ref": "#/components/responses/404_New"
                    },
                    "500": {
                        "$ref": "#/components/responses/500_New"
                    }
                },
                "security": [
                    {
                        "JWTAuth": []
                    }
                ],
                "summary": "Delete Player",
                "description": "Delete Player by its _id field. Notice that only Player, which belongs to loggen-in user Profile can be deleted. In case when the Player is the only admin in some Clan and the Clan has some other Players, the Player can not be removed. User should be asked to first determine at least one admin for the Clan.\n\nAlso, it is not recommended to delete the Player since it can itroduce unexpected behaviour for the user with Profile, but without Player. The better way to remove the Player is do it via /profile DELETE.\n\nPlayer removal basically means removing all data, which is related to the Player: CustomCharacters, Clan, except for the Profile data. In the case when the Profile does not has a Player, user can only login to the system, but can not play the game.\n\n| Feature / Requirement | Is / Has |\n| -------- | -------- |\n| Authentication | yes |\n| Authorization   | only for Player owner |"
            },
            "parameters": [
                {
                    "examples": {
                        "1": {
                            "value": "6686cb3b71adebdb10f33ffb"
                        }
                    },
                    "name": "_id",
                    "description": "player _id",
                    "schema": {
                        "type": "string"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/clan/{_id}": {
            "get": {
                "tags": [
                    "Clan"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/200_one"
                                },
                                "examples": {
                                    "1": {
                                        "value": {
                                            "data": {
                                                "Clan": {
                                                    "_id": "67961fbb1b3237ccb9628a44",
                                                    "name": "clan1",
                                                    "tag": "clan1",
                                                    "clanLogo": {
                                                        "logoType": "Heart",
                                                        "pieceColors": [
                                                            "#FFFFFF",
                                                            "#000000"
                                                        ]
                                                    },
                                                    "labels": [
                                                        "eläinrakkaat"
                                                    ],
                                                    "gameCoins": 0,
                                                    "points": 0,
                                                    "admin_ids": [
                                                        "67961be31b3237ccb9628a37"
                                                    ],
                                                    "playerCount": 1,
                                                    "itemCount": 0,
                                                    "stockCount": 0,
                                                    "isOpen": true,
                                                    "ageRange": "None",
                                                    "goal": "None",
                                                    "phrase": "Clan 1 is the best",
                                                    "language": "None",
                                                    "__v": 0,
                                                    "id": "67961fbb1b3237ccb9628a44"
                                                }
                                            },
                                            "metaData": {
                                                "dataKey": "Clan",
                                                "modelName": "Clan",
                                                "dataType": "Object",
                                                "dataCount": 1
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "description": "OK"
                    },
                    "400": {
                        "$ref": "#/components/responses/400_New"
                    },
                    "404": {
                        "$ref": "#/components/responses/404_New"
                    },
                    "500": {
                        "$ref": "#/components/responses/500_New"
                    }
                },
                "security": [
                    {}
                ],
                "summary": "Get Clan by _id",
                "description": "Read Clan data by its _id field\n\n| Feature / Requirement | Is / Has |\n| -------- | -------- |\n| Authentication | no |\n| Authorization   | no |\n| Search | no | \n| Sort | no |\n| Pagination | no | "
            },
            "delete": {
                "tags": [
                    "Clan"
                ],
                "responses": {
                    "204": {
                        "$ref": "#/components/responses/204"
                    },
                    "400": {
                        "$ref": "#/components/responses/400_New"
                    },
                    "401": {
                        "$ref": "#/components/responses/401_New"
                    },
                    "403": {
                        "$ref": "#/components/responses/403_New"
                    },
                    "404": {
                        "$ref": "#/components/responses/404_New"
                    },
                    "500": {
                        "$ref": "#/components/responses/500_New"
                    }
                },
                "security": [
                    {
                        "JWTAuth": []
                    }
                ],
                "summary": "Delete Clan",
                "description": "Delete Clan its _id field. \n\nNotice that only Clan admins can delete the Clan.\n\n| Feature / Requirement | Is / Has |\n| -------- | -------- |\n| Authentication | yes |\n| Authorization   | only for Clan admins |"
            },
            "parameters": [
                {
                    "examples": {
                        "_id": {
                            "value": "667462842425aea94d0f66cb"
                        }
                    },
                    "name": "_id",
                    "schema": {
                        "type": "string"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/clan/join": {
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ClanJoinCreate"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "Clan"
                ],
                "responses": {
                    "204": {
                        "$ref": "#/components/responses/204"
                    },
                    "400": {
                        "$ref": "#/components/responses/400_New"
                    },
                    "401": {
                        "$ref": "#/components/responses/401_New"
                    },
                    "404": {
                        "$ref": "#/components/responses/404_New"
                    },
                    "500": {
                        "$ref": "#/components/responses/500_New"
                    }
                },
                "security": [
                    {
                        "JWTAuth": []
                    }
                ],
                "summary": "Player requests join to clan",
                "description": "Request to join a Clan. \n\nNotice that if the Clan is open the Player will be joined automatically without admin approval. \n\nNotice that if the Player was in another Clan then he/she will be removed from the old one and if in this Clan was no other Players, it will be removed.\n\n| Feature / Requirement | Is / Has |\n| -------- | -------- |\n| Authentication | yes |\n| Authorization   | no, but for closed Clans there should be an admin approval first | \n\n"
            }
        },
        "/clan/leave": {
            "post": {
                "tags": [
                    "Clan"
                ],
                "responses": {
                    "204": {
                        "$ref": "#/components/responses/204"
                    },
                    "401": {
                        "$ref": "#/components/responses/401_New"
                    },
                    "404": {
                        "$ref": "#/components/responses/404_New"
                    },
                    "500": {
                        "$ref": "#/components/responses/500_New"
                    }
                },
                "security": [
                    {
                        "JWTAuth": []
                    }
                ],
                "summary": "Player requests leave the Clan",
                "description": "Request to leave a Clan. \n\nNotice that Player can leave any Clan without admin approval.\n\n| Feature / Requirement | Is / Has |\n| -------- | -------- |\n| Authentication | yes |\n| Authorization   | no | \n\n"
            }
        },
        "/stock": {
            "get": {
                "tags": [
                    "Stock"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/200"
                                },
                                "examples": {
                                    "1": {
                                        "value": {
                                            "data": {
                                                "Stock": [
                                                    {
                                                        "_id": "66d74887c988e09f4c45870d",
                                                        "cellCount": 20,
                                                        "clan_id": "66d74887c988e09f4c45870a",
                                                        "__v": 0,
                                                        "id": "66d74887c988e09f4c45870d"
                                                    },
                                                    {
                                                        "_id": "66d70d08941f1d7be5033a3f",
                                                        "cellCount": 20,
                                                        "clan_id": "66d70d08941f1d7be5033a3c",
                                                        "__v": 0,
                                                        "id": "66d70d08941f1d7be5033a3f"
                                                    }
                                                ]
                                            },
                                            "metaData": {
                                                "dataKey": "Stock",
                                                "modelName": "Stock",
                                                "dataType": "Array",
                                                "dataCount": 2
                                            },
                                            "paginationData": {
                                                "currentPage": 1,
                                                "limit": 20,
                                                "offset": 0,
                                                "itemCount": 2,
                                                "pageCount": 1
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "description": "OK"
                    },
                    "404": {
                        "$ref": "#/components/responses/404_New"
                    },
                    "500": {
                        "$ref": "#/components/responses/500_New"
                    }
                },
                "security": [
                    {}
                ],
                "summary": "Read all stocks",
                "description": "Read all created Stocks of all Clans. Remember about the pagination\n\n| Feature / Requirement | Is / Has |\n| -------- | -------- |\n| Authentication | no |\n| Authorization   | no |\n| Search | yes | \n| Sort | yes |\n| Pagination | yes | \n\n## Endpoint description\n\n### General description\n\nStock is a public place of a Clan, where Items can be stored. These Items, however, can not be stolen from the Clan by other Clans' members during raid. \n\n### Relations\n\nStock can belong to one Clan and Clan may have only one Stock. Stock may have many Items. Stock may belong to one Stock.\n\n### CRUD operations\n\nSince a Clan can have only one Stock, the Stock is created automatically whenever a Clan is created.\n\nStock data can be read by anybody without authentication, as well all existing Stocks list can be fetched.\n\nStock does not have any data, which can be updated by Clan members. The only field, which can be updated is a cellCount, which hold information about Stock capacity. The starting value of it is 30, but more cells can be bought from store later. The cellCount does not have a limit.\n\nStock is deleted automatically (and Items related to it) when the Clan to which it belongs to is also deleted.",
                "externalDocs": {
                    "url": "https://github.com/Alt-Org/Altzone-Server/wiki/3.-Data-fetching-(GET-requests)"
                }
            }
        },
        "/stock/{_id}": {
            "get": {
                "tags": [
                    "Stock"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/200_one"
                                },
                                "examples": {
                                    "1": {
                                        "value": {
                                            "data": {
                                                "Stock": {
                                                    "objectType": "StockDto",
                                                    "_id": "66d74887c988e09f4c45870d",
                                                    "cellCount": 20,
                                                    "clan_id": "66d74887c988e09f4c45870a"
                                                }
                                            },
                                            "metaData": {
                                                "dataKey": "Stock",
                                                "modelName": "Stock",
                                                "dataType": "Object",
                                                "dataCount": 1
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "description": "OK"
                    },
                    "400": {
                        "$ref": "#/components/responses/400_New"
                    },
                    "404": {
                        "$ref": "#/components/responses/404_New"
                    },
                    "500": {
                        "$ref": "#/components/responses/500_New"
                    }
                },
                "security": [
                    {}
                ],
                "summary": "Get Stock by _id",
                "description": "Read Stock data by its _id field.\n\nNotice that everybody is able to read any Stock data.\n\n| Feature / Requirement | Is / Has |\n| -------- | -------- |\n| Authentication | no |\n| Authorization   | no |\n\n## Endpoint description\n\n### General description\n\nStock is a public place of a Clan, where Items can be stored. These Items, however, can not be stolen from the Clan by other Clans' members during raid. \n\n### Relations\n\nStock can belong to one Clan and Clan may have only one Stock. Stock may have many Items. Stock may belong to one Stock.\n\n### CRUD operations\n\nSince a Clan can have only one Stock, the Stock is created automatically whenever a Clan is created.\n\nStock data can be read by anybody without authentication, as well all existing Stocks list can be fetched.\n\nStock does not have any data, which can be updated by Clan members. The only field, which can be updated is a cellCount, which hold information about Stock capacity. The starting value of it is 30, but more cells can be bought from store later. The cellCount does not have a limit.\n\nStock is deleted automatically (and Items related to it) when the Clan to which it belongs to is also deleted."
            },
            "parameters": [
                {
                    "examples": {
                        "1": {
                            "value": "66894fbd4a7b6c993aed1a18"
                        }
                    },
                    "name": "_id",
                    "description": "Stock _id field",
                    "schema": {
                        "type": "string"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/item/{_id}": {
            "get": {
                "tags": [
                    "Item"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/200_one"
                                },
                                "examples": {
                                    "1": {
                                        "value": {
                                            "data": {
                                                "Item": {
                                                    "_id": "668a70ce91020196cb10d595",
                                                    "name": "Sofa_Taakka",
                                                    "recycling": "Mixed_waste",
                                                    "qualityLevel": "common",
                                                    "unityKey": "Sofa_Taakka",
                                                    "weight": 67,
                                                    "location": [
                                                        2,
                                                        4
                                                    ],
                                                    "isFurniture": true,
                                                    "stock_id": "668953cd4a7b6c993aed1a36",
                                                    "price": 23
                                                }
                                            },
                                            "metaData": {
                                                "dataKey": "Item",
                                                "modelName": "Item",
                                                "dataType": "Object",
                                                "dataCount": 1
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "description": "OK"
                    },
                    "400": {
                        "$ref": "#/components/responses/400_New"
                    },
                    "404": {
                        "$ref": "#/components/responses/404_New"
                    },
                    "500": {
                        "$ref": "#/components/responses/500_New"
                    }
                },
                "security": [
                    {}
                ],
                "summary": "Get Item by _id",
                "description": "Read Item data by its _id field\n\n| Feature / Requirement | Is / Has |\n| -------- | -------- |\n| Authentication | no |\n| Authorization   | no |\n\n-------------\n\nThe name field is an enum:\n\n|                |               |                 |              |\n|------------------------|-----------------------|--------------------------|-----------------------|\n| 'Sofa_Taakka'          | 'Mirror_Taakka'       | 'Floorlamp_Taakka'        | 'Toilet_Schrodinger'  |\n| 'Sink_Schrodinger'     | 'Closet_Taakka'       | 'SofaTable_Taakka'        | 'SideTable_Taakka'    |\n| 'Carpet_Schrodinger'   | 'Carpet_Rakkaus'      | 'Mirror_Schrodinger'      | 'Mirror_Rakkaus'      |\n| 'ArmChair_Taakka'      | 'Sofa_Rakkaus'        | 'ArmChair_Rakkaus'        | 'Closet_Rakkaus'      |\n| 'Chair_Neuro'          | 'Dresser_Neuro'       | 'Stool_Neuro'             |                       |\n\n-------------\n\nThe recycling field is an enum:\n\n|               |              |    |           |\n|-----------------------|-----------------------|------------|-------------------|\n| 'Mixed_waste'         | 'Electrical_Equipment'| 'Wood'     | 'Glass'           |\n| 'Metal'               | 'Landfill'            |            |                   |\n\n-------------\n\nThe qualityLevel field is an enum:\n\n|    |   |    |    |\n|------------|------------|------------|------------|\n| 'common'   | 'rare'     | 'epic'     |            |\n\n-------------\n\n## Endpoint description\n\n### General description\n\nItems are objects, which can be placed in SoulHomes' Rooms, Stocks and Shop. Item is an object, which has its value in the game and can be bought from the Shop, stolen from the Stock or placed in safe to SoulHome's Room.\n\nItems can be obtained only from Shop and then stored in Room or a Stock.\n\nItem can be a furniture or some other kind of object. The difference between furniture and not furniture is that a furniture can be placed only on a floor. Not furniture can be placed anywhere including on top of a furniture, walls, celling and floor. This data is used in game logic only and does not affect the API in any way.\n\n### Relations\n\nItem can belong to one Room. Room can have multiple Items.\n\nItem can belong to one Stock. Stock can have multiple Items.\n\nItem can belong to Shop. Shop can have multiple Items.\n\n### CRUD operations\n\nItem can not be created by Player. It can only be bought from Shop. API creates new Items automatically.\n\nItem can be read by anyone. One Item can be accessed via its _id field. Multiple Items can be accessed by requesting them within another endpoints via \"with\" or \"all\" queries (/stock/:stock_id?with=Item), since they are mostly required together with Stock, Room or Shop data.\n\nItem can not be directly updated by Players. However, Players may move Items from one place to another. They first can buy an Item from Shop and so update Item's place by moving it to the Clan's Stock. Then they can move it from SoulHome to Stock or vice versa. Item can be bought from Shop via /stock/buy enpoint (not yet implemented). Item can be moved from Room to Stock or from Stock to Room via /item/move POST endpoint.\n\nItem can not be deleted."
            },
            "parameters": [
                {
                    "examples": {
                        "1": {
                            "value": "668a70ce91020196cb10d595"
                        }
                    },
                    "name": "_id",
                    "description": "item _id field",
                    "schema": {
                        "type": "string"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/soulhome": {
            "description": "",
            "get": {
                "tags": [
                    "SoulHome"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/200_one"
                                },
                                "examples": {
                                    "1": {
                                        "value": {
                                            "data": {
                                                "SoulHome": {
                                                    "objectType": "SoulHomeDto",
                                                    "_id": "66d74887c988e09f4c458715",
                                                    "name": "clan2",
                                                    "clan_id": "66d74887c988e09f4c45870a"
                                                }
                                            },
                                            "metaData": {
                                                "dataKey": "SoulHome",
                                                "modelName": "SoulHome",
                                                "dataType": "Object",
                                                "dataCount": 1
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "description": "OK"
                    },
                    "401": {
                        "$ref": "#/components/responses/401_New"
                    },
                    "404": {
                        "$ref": "#/components/responses/404_New"
                    },
                    "500": {
                        "$ref": "#/components/responses/500_New"
                    }
                },
                "security": [
                    {
                        "JWTAuth": []
                    }
                ],
                "summary": "Get SoulHome",
                "description": "## Method description\n\nGet SoulHome data for the logged-in user. \n\nIf the logged-in user is a Clan member, the SoulHome for this Clan will be returned. \n\nIf the logged-in user is not belonging to any Clan the 404 error will be returned.\n\n| Feature / Requirement | Is / Has |\n| -------- | -------- |\n| Authentication | yes |\n| Authorization   | no |\n\n\n## Endpoint description\n\n### General description\n\nSoulhome is a safe place for storing Clan Items (inside SoulHome's Rooms). However, it is possible to steal Items from the SoulHome rooms, but the access to CRUD operations mostly lies in hands of Clan members.\n\nSoulHome does have only one field \"name\", which is same as a Clan name.\n\n### Relations\n\nSoulHome can belong to one Clan and Clan may have only one SoulHome. SoulHome may have many Rooms. Room may belong to one SoulHome.\n\n### CRUD operations\n\nSoulHome must be created automatically when Clan is created. When SoulHome is created 30 Rooms for that SoulHome with default values must created."
            }
        },
        "/room": {
            "get": {
                "tags": [
                    "Room"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/200_one"
                                },
                                "examples": {
                                    "1": {
                                        "value": {
                                            "data": {
                                                "Room": [
                                                    {
                                                        "_id": "66d74887c988e09f4c458721",
                                                        "floorType": "default",
                                                        "wallType": "default",
                                                        "cellCount": 10,
                                                        "hasLift": false,
                                                        "soulHome_id": "66d74887c988e09f4c458715",
                                                        "isActive": false,
                                                        "id": "66d74887c988e09f4c458721"
                                                    }
                                                ]
                                            },
                                            "metaData": {
                                                "dataKey": "Room",
                                                "modelName": "Room",
                                                "dataType": "Array",
                                                "dataCount": 1
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "description": "OK"
                    },
                    "401": {
                        "$ref": "#/components/responses/401_New"
                    },
                    "404": {
                        "$ref": "#/components/responses/404_New"
                    },
                    "500": {
                        "$ref": "#/components/responses/500_New"
                    }
                },
                "security": [
                    {
                        "JWTAuth": []
                    }
                ],
                "summary": "Get all Clan's Rooms",
                "description": "## Method description\n\nGet all Rooms for the logged-in user. \n\nIf the logged-in user is a Clan member, the Rooms for this Clan will be returned. \n\nIf the logged-in user is not belonging to any Clan the 404 error will be returned.\n\nIf the pagination is required, it can be used, but by  default it will return all 30 rooms at once.\n\n| Feature / Requirement | Is / Has |\n| -------- | -------- |\n| Authentication | yes |\n| Authorization   | no |\n| Pagination   | yes |\n| Sort   | yes |\n| Search   | yes |\n\n\n## Endpoint description\n\n### General description\n\nRoom is a place, which can safely store Items of a Clan. However, Items from the Room can be stolen. \n\nRoom is closely related to its SoulHome. SoulHome consists of Rooms. \n\nRoom has an automatic behavior. Room has two statuses active and deactivated. When the Room is becoming deactivated its isActive field is taking on the value false. This should be done automatically when the deactivationTimestamp field is expired.\n\n### Relations\n\nRoom can belong to one SoulHome. SoulHome may have many Rooms.\n\nRoom can have many Items. Item may belong to one Room.\n\n### CRUD operations\n\nRooms for a SoulHome must be created automatically, when a SoulHome is created. Therefore there is no enpoint for Room creation.\n\nRoom and all Rooms can be read by Clan members, to which the Room (its SoulHome) is belonging.\n\nRoom can be updated by Clan members, to which it (its SoulHome) belongs.\n\nRoom can be deleted only automatically, when the SoulHome, to which the Room belongs is deleted."
            },
            "put": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RoomUpdate"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "Room"
                ],
                "responses": {
                    "204": {
                        "$ref": "#/components/responses/204"
                    },
                    "400": {
                        "$ref": "#/components/responses/400_New"
                    },
                    "401": {
                        "$ref": "#/components/responses/401_New"
                    },
                    "404": {
                        "$ref": "#/components/responses/404_New"
                    },
                    "500": {
                        "$ref": "#/components/responses/500_New"
                    }
                },
                "security": [
                    {
                        "JWTAuth": []
                    }
                ],
                "summary": "Update Room by _id",
                "description": "## Method description\n\nUpdate Room by its _id specified in the body.\n\nAny Clan member can update any Room, which (SoulHome) belongs to the Clan.\n\nIf the logged-in user is a Clan member and the Clan does have the requested Room, the Room for this Clan will be returned. \n\nIf the logged-in user is not belonging to any Clan, or Room in that Clan with provided _id is not found the 404 error will be returned.\n\n| Feature / Requirement | Is / Has |\n| -------- | -------- |\n| Authentication | yes |\n| Authorization   | no |\n\n\n## Endpoint description\n\n### General description\n\nRoom is a place, which can safely store Items of a Clan. Items from the Room can not be stolen. \n\nRoom is closely related to its SoulHome. SoulHome consists of Rooms. \n\nRoom has an automatic behavior. Room has two statuses active and deactivated. When the Room is becoming deactivated its isActive field is taking on the value false. This should be done automatically when the deactivationTimestamp field is expired.\n\n### Relations\n\nRoom can belong to one SoulHome. SoulHome may have many Rooms.\n\nRoom can have many Items. Item may belong to one Room.\n\n### CRUD operations\n\nRooms for a SoulHome must be created automatically, when a SoulHome is created. Therefore there is no enpoint for Room creation.\n\nRoom and all Rooms can be read by Clan members, to which the Room (its SoulHome) is belonging.\n\nRoom can be updated by Clan members, to which it (its SoulHome) belongs.\n\nRoom can be deleted only automatically, when the SoulHome, to which the Room belongs is deleted."
            }
        },
        "/fleaMarket": {
            "get": {
                "tags": [
                    "FleaMarket"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "ItemShop": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "_id": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "lastRestock": {
                                                                "type": "integer"
                                                            },
                                                            "items": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "item_id": {
                                                                            "type": "string"
                                                                        },
                                                                        "isInVoting": {
                                                                            "type": "boolean"
                                                                        },
                                                                        "isSold": {
                                                                            "type": "boolean"
                                                                        }
                                                                    }
                                                                }
                                                            },
                                                            "__v": {
                                                                "type": "integer"
                                                            },
                                                            "id": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "metaData": {
                                            "type": "object",
                                            "properties": {
                                                "dataKey": {
                                                    "type": "string"
                                                },
                                                "modelName": {
                                                    "type": "string"
                                                },
                                                "dataType": {
                                                    "type": "string"
                                                },
                                                "dataCount": {
                                                    "type": "integer"
                                                }
                                            }
                                        },
                                        "paginationData": {
                                            "type": "object",
                                            "properties": {
                                                "currentPage": {
                                                    "type": "integer"
                                                },
                                                "limit": {
                                                    "type": "integer"
                                                },
                                                "offset": {
                                                    "type": "integer"
                                                },
                                                "itemCount": {
                                                    "type": "integer"
                                                },
                                                "pageCount": {
                                                    "type": "integer"
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "1": {
                                        "value": {
                                            "data": {
                                                "FleaMarketItem": [
                                                    {
                                                        "objectType": "FleaMarketItemDto",
                                                        "_id": "67696bbabdeca182c841e46b",
                                                        "name": "Closet_Rakkaus",
                                                        "weight": 45,
                                                        "recycling": "Wood",
                                                        "qualityLevel": "common",
                                                        "unityKey": "Closet_Rakkaus",
                                                        "status": "available",
                                                        "isFurniture": true,
                                                        "price": 130,
                                                        "clan_id": "6746e90e85763982c51af0d5"
                                                    },
                                                    {
                                                        "objectType": "FleaMarketItemDto",
                                                        "_id": "6747092424a8bd9b779aa445",
                                                        "name": "Mirror_Rakkaus",
                                                        "weight": 10,
                                                        "recycling": "Glass",
                                                        "qualityLevel": "common",
                                                        "unityKey": "Mirror_Rakkaus",
                                                        "status": "shipping",
                                                        "isFurniture": false,
                                                        "price": 170,
                                                        "clan_id": "6746e90e85763982c51af0d5"
                                                    }
                                                ]
                                            },
                                            "metaData": {
                                                "dataKey": "FleaMarketItem",
                                                "modelName": "FleaMarketItem",
                                                "dataType": "Array",
                                                "dataCount": 2
                                            },
                                            "paginationData": {
                                                "currentPage": 1,
                                                "limit": 20,
                                                "offset": 0,
                                                "itemCount": 2,
                                                "pageCount": 1
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Success, response with body"
                    },
                    "401": {
                        "$ref": "#/components/responses/401_New"
                    },
                    "404": {
                        "$ref": "#/components/responses/404_New"
                    },
                    "500": {
                        "$ref": "#/components/responses/500_New"
                    }
                },
                "security": [
                    {
                        "JWTAuth": []
                    }
                ],
                "summary": "Get all flea market items",
                "description": "Get all FleaMarketItems of the flea market\n\n| Feature / Requirement | Is / Has |\n| -------- | -------- |\n| Authentication | yes |\n| Authorization   | no |\n| Search | yes | \n| Sort | yes |\n| Pagination | yes | \n\nThe name field is an enum:\n\n|                |               |                 |              |\n|------------------------|-----------------------|--------------------------|-----------------------|\n| 'Sofa_Taakka'          | 'Mirror_Taakka'       | 'Floorlamp_Taakka'        | 'Toilet_Schrodinger'  |\n| 'Sink_Schrodinger'     | 'Closet_Taakka'       | 'SofaTable_Taakka'        | 'SideTable_Taakka'    |\n| 'Carpet_Schrodinger'   | 'Carpet_Rakkaus'      | 'Mirror_Schrodinger'      | 'Mirror_Rakkaus'      |\n| 'ArmChair_Taakka'      | 'Sofa_Rakkaus'        | 'ArmChair_Rakkaus'        | 'Closet_Rakkaus'      |\n| 'Chair_Neuro'          | 'Dresser_Neuro'       | 'Stool_Neuro'             |                       |\n\n-------------\n\nThe recycling field is an enum:\n\n|               |              |    |           |\n|-----------------------|-----------------------|------------|-------------------|\n| 'Mixed_waste'         | 'Electrical_Equipment'| 'Wood'     | 'Glass'           |\n| 'Metal'               | 'Landfill'            |            |                   |\n\n-------------\n\nThe qualityLevel field is an enum:\n\n|    |   |    |    |\n|------------|------------|------------|------------|\n| 'common'   | 'rare'     | 'epic'     |            |\n\n-------------\n\n## Endpoint description\n\n### General description\n\nThe FleaMarket is the place where the Clans can sell their own Items and other Clans can buy these Items. Items can be purchased by any Clan member using this Clan coins.\n\n\n### Logic\n\nThe FleeMarket contains FleeMarketItems. FleeMarketItem object has a status field which determines what can be done with it:\n\n- Available - Item can be purchased\n- Shipping - Item is being shipped = selling Clan members is voting if the Item should be sold or not\n- Booking - Item is booked = buying Clan is voting if the Item should be bought or not. Item can be booked for max. 10 min\n\n\n### Relations\n\nThe FleaMarketItem belongs to a selling Clan. The selling Clan can have many FleaMarketItems. FleaMarketItem can belong to one Clan only.\n\n\n### CRUD operations\n\nFleaMarketItem is added by Clan member by moving the Item from Stock to FleaMarket, which means the Item from Stock is copied to the FleaMarketItem collection and then removed from the Stock.\n\nFleaMarketItems can be read by any logged-in user.\n\nFleaMarketItem data can not be changed at the time and it is read-only.\n\nFleaMarketItem can not be removed from the FleaMarket at the time once it is put there.\n"
            }
        },
        "/fleaMarket/{_id}": {
            "get": {
                "tags": [
                    "FleaMarket"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "ItemShop": {
                                                    "type": "object",
                                                    "properties": {
                                                        "_id": {
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "lastRestock": {
                                                            "type": "integer"
                                                        },
                                                        "items": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "item_id": {
                                                                        "type": "string"
                                                                    },
                                                                    "isInVoting": {
                                                                        "type": "boolean"
                                                                    },
                                                                    "isSold": {
                                                                        "type": "boolean"
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "__v": {
                                                            "type": "integer"
                                                        },
                                                        "id": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "metaData": {
                                            "type": "object",
                                            "properties": {
                                                "dataKey": {
                                                    "type": "string"
                                                },
                                                "modelName": {
                                                    "type": "string"
                                                },
                                                "dataType": {
                                                    "type": "string"
                                                },
                                                "dataCount": {
                                                    "type": "integer"
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "1": {
                                        "value": {
                                            "data": {
                                                "FleaMarketItem": {
                                                    "objectType": "FleaMarketItemDto",
                                                    "_id": "67696bbabdeca182c841e46b",
                                                    "name": "Closet_Rakkaus",
                                                    "weight": 45,
                                                    "recycling": "Wood",
                                                    "qualityLevel": "common",
                                                    "unityKey": "Closet_Rakkaus",
                                                    "status": "available",
                                                    "isFurniture": true,
                                                    "price": 130,
                                                    "clan_id": "6746e90e85763982c51af0d5"
                                                }
                                            },
                                            "metaData": {
                                                "dataKey": "FleaMarketItem",
                                                "modelName": "FleaMarketItem",
                                                "dataType": "Object",
                                                "dataCount": 1
                                            }
                                        }
                                    }
                                }
                            }
                        },
[...]
