{
    "openapi": "3.0.1",
    "info": {
        "title": "Altzone API",
        "version": "1.0.0",
        "description": "This is a description of API for the Altzone game.\nThis swagger document is describing endpoint in more details and includes the request objects structure, examples, authorization rules and any other additional information.\nNotice,  that it does not include common rules and functions, since they are covered on the wikipages in GitHub",
        "x-logo": {
            "url": ""
        }
    },
    "servers": [
        {
            "url": "https://altzone.fi/api",
            "description": "Production",
            "x-last-modified": 1718905376325
        },
        {
            "url": "http://localhost:8080",
            "description": "Local",
            "x-last-modified": 1718899219797
        }
    ],
    "paths": {
        "/clan": {
            "get": {
                "tags": [
                    "Clan"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/200"
                                },
                                "examples": {
                                    "1": {
                                        "value": {
                                            "data": {
                                                "Clan": [
                                                    {
                                                        "_id": "667eedc9b3b5bf0f7a840ef1",
                                                        "name": "User2 clan",
                                                        "tag": "tag2",
                                                        "gameCoins": 90,
                                                        "admin_ids": [
                                                            "666720806cc90102f60bd325"
                                                        ],
                                                        "playerCount": 1,
                                                        "itemCount": 0,
                                                        "stockCount": 0,
                                                        "isOpen": true,
                                                        "id": "667eedc9b3b5bf0f7a840ef1"
                                                    },
                                                    {
                                                        "_id": "667bfec6afb8211b4bd8dbff",
                                                        "name": "User1 clan",
                                                        "tag": "tag1",
                                                        "gameCoins": 4,
                                                        "admin_ids": [
                                                            "665df7026bf5b8f670569ea4"
                                                        ],
                                                        "playerCount": 1,
                                                        "itemCount": 0,
                                                        "stockCount": 0,
                                                        "isOpen": true,
                                                        "id": "667bfec6afb8211b4bd8dbff"
                                                    }
                                                ]
                                            },
                                            "metaData": {
                                                "dataKey": "Clan",
                                                "modelName": "Clan",
                                                "dataType": "Array",
                                                "dataCount": 2
                                            },
                                            "paginationData": {
                                                "currentPage": 1,
                                                "limit": 2,
                                                "offset": 0,
                                                "itemCount": 2,
                                                "pageCount": 1
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "description": "OK"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {}
                ],
                "summary": "Read all clans",
                "description": "Read all created Clans. Remember about the pagination\n\n| Feature / Requirement | Is / Has |\n| -------- | -------- |\n| Authentication | no |\n| Authorization   | no |\n| Search | yes | \n| Sort | yes |\n| Pagination | yes | ",
                "externalDocs": {
                    "url": "https://github.com/Alt-Org/Altzone-Server/wiki/3.-Data-fetching-(GET-requests)"
                }
            },
            "put": {
                "requestBody": {
                    "description": "Clan object",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ClanUpdate"
                            },
                            "examples": {
                                "Clan": {
                                    "$ref": "#/components/examples/ClanWithId"
                                }
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "Clan"
                ],
                "responses": {
                    "204": {
                        "$ref": "#/components/responses/204"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "409": {
                        "$ref": "#/components/responses/409"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "JWTAuth": []
                    }
                ],
                "summary": "Update a clan",
                "description": "Update the Clan, which _id is specified in the body. \n\nOnly Clan admins can change the Clan's data, as well as add or remove admins. Notice that while removing Clan admins, its is not allowed to remove all of them, because Clan must have at least one admin.\n\n| Feature / Requirement | Is / Has |\n| -------- | -------- |\n| Authentication | yes |\n| Authorization   | only for Clan admins | \n\n"
            },
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ClanCreate"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "Clan"
                ],
                "responses": {
                    "201": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/201"
                                },
                                "examples": {
                                    "1": {
                                        "value": {
                                            "data": {
                                                "Clan": {
                                                    "objectType": "ClanDto",
                                                    "_id": "667eedc9b3b5bf0f7a840ef1",
                                                    "name": "User1 clan",
                                                    "tag": "kek",
                                                    "gameCoins": 90,
                                                    "admin_ids": [
                                                        "666720806cc90102f60bd325"
                                                    ],
                                                    "playerCount": 1,
                                                    "itemCount": 0,
                                                    "stockCount": 0,
                                                    "isOpen": true
                                                }
                                            },
                                            "metaData": {
                                                "dataKey": "Clan",
                                                "modelName": "Clan",
                                                "dataType": "Object",
                                                "dataCount": 1
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Created"
                    },
                    "400": {
                        "$ref": "#/components/responses/400",
                        "x-last-modified": 1718901860622
                    },
                    "401": {
                        "$ref": "#/components/responses/401",
                        "x-last-modified": 1718901883486
                    },
                    "403": {
                        "$ref": "#/components/responses/403",
                        "x-last-modified": 1718901898221
                    },
                    "409": {
                        "$ref": "#/components/responses/409",
                        "x-last-modified": 1718902008128
                    },
                    "500": {
                        "$ref": "#/components/responses/500",
                        "x-last-modified": 1718902019444
                    }
                },
                "security": [
                    {
                        "JWTAuth": []
                    }
                ],
                "summary": "Create a clan",
                "description": "Create a new Clan. The creator of the Clan becomes its admin. Notice that if Player is creating a new Clan, he/she becomes a member of it, that means that if Player is member of some Clan it can not create a new one, before leaving the old one.\n\n| Feature / Requirement | Is / Has |\n| -------- | -------- |\n| Authentication | yes |\n| Authorization   | Player can be in one Clan only at one time => if Player already is in another Clan, he/she can not create a new one | \n\n"
            }
        },
        "/profile": {
            "summary": "user profile",
            "description": "",
            "get": {
                "tags": [
                    "Profile"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/200_one"
                                },
                                "examples": {
                                    "1": {
                                        "value": {
                                            "data": {
                                                "Profile": {
                                                    "_id": "667ee778b3b5bf0f7a840ec9",
                                                    "username": "user1"
                                                }
                                            },
                                            "metaData": {
                                                "dataKey": "Profile",
                                                "modelName": "Profile",
                                                "dataType": "Object",
                                                "dataCount": 1
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "description": "OK"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "JWTAuth": []
                    }
                ],
                "summary": "Read logged-in user Profile data",
                "description": "Read logged-in user Profile data\n\n| Feature / Requirement | Is / Has |\n| -------- | -------- |\n| Authentication | yes |\n| Authorization   | only own |\n| Search | no | \n| Sort | no |\n| Pagination | no | "
            },
            "put": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProfileUpdate"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "Profile"
                ],
                "responses": {
                    "204": {
                        "$ref": "#/components/responses/204"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "JWTAuth": []
                    }
                ],
                "summary": "Update user Profile",
                "description": "Update logged-in user Profile data. Notice that only fields needed to be updated should be specified."
            },
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProfileCreate"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "Profile"
                ],
                "responses": {
                    "201": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/201"
                                },
                                "examples": {
                                    "1": {
                                        "value": {
                                            "data": {
                                                "Profile": {
                                                    "objectType": "ProfileDto",
                                                    "_id": "667ee778b3b5bf0f7a840ec9",
                                                    "username": "user6",
                                                    "Player": {
                                                        "objectType": "PlayerDto",
                                                        "_id": "667ee778b3b5bf0f7a840ecb",
                                                        "name": "User 6",
                                                        "backpackCapacity": 34,
                                                        "uniqueIdentifier": "6",
                                                        "profile_id": "667ee778b3b5bf0f7a840ec9"
                                                    }
                                                }
                                            },
                                            "metaData": {
                                                "dataKey": "Profile",
                                                "modelName": "Profile",
                                                "dataType": "Object",
                                                "dataCount": 1
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Created"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "409": {
                        "$ref": "#/components/responses/409"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {}
                ],
                "operationId": "profile_create",
                "summary": "Create profile",
                "description": "Create a user profile with Player object associated with it. Notice, that it is also possible in some edge cases to create a Profile without Player object assosiated with it, however it is not recommended and API expects that for every Profile there is a Player object created. "
            },
            "delete": {
                "tags": [
                    "Profile"
                ],
                "responses": {
                    "204": {
                        "$ref": "#/components/responses/204"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "JWTAuth": []
                    }
                ],
                "summary": "Delete Profile",
                "description": "Delete logged-in user's Profile. Notice, that Profile deletion will lead removing all user data, such as Player and CustomCharacters. Since the Player object is assosiated with the Clan, user will be also removed from the Clan. Notice, that if there was nobody in the Clan the Clan with all assosiated objects will be removed. However, in case if the user was admin in this Clan and there are no other admins the user must first set at least one admin for this Clan, overwise the Profile will not be removed and 403 will be returned."
            }
        },
        "/player": {
            "get": {
                "tags": [
                    "Player"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/200"
                                },
                                "examples": {
                                    "1": {
                                        "value": {
                                            "data": {
                                                "Player": [
                                                    {
                                                        "_id": "6686cb3b71adebdb10f33ffb",
                                                        "name": "User 2",
                                                        "backpackCapacity": 654,
                                                        "uniqueIdentifier": 2,
                                                        "profile_id": "6686cb3b71adebdb10f33ff9"
                                                    }
                                                ]
                                            },
                                            "metaData": {
                                                "dataKey": "Player",
                                                "modelName": "Player",
                                                "dataType": "Array",
                                                "dataCount": 1
                                            },
                                            "paginationData": {
                                                "currentPage": 1,
                                                "limit": 1,
                                                "offset": 0,
                                                "itemCount": 1,
                                                "pageCount": 1
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "description": "OK"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "JWTAuth": []
                    }
                ],
                "summary": "Read all players",
                "description": "Read all created Players. Remember about the pagination\n\n| Feature / Requirement | Is / Has |\n| -------- | -------- |\n| Authentication | yes |\n| Authorization   | no |\n| Search | yes | \n| Sort | yes |\n| Pagination | yes | ",
                "externalDocs": {
                    "url": "https://github.com/Alt-Org/Altzone-Server/wiki/3.-Data-fetching-(GET-requests)"
                }
            },
            "put": {
                "requestBody": {
                    "description": "Player object",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PlayerUpdate"
                            },
                            "examples": {
                                "Player": {
                                    "$ref": "#/components/examples/PlayerWithId"
                                }
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "Player"
                ],
                "responses": {
                    "204": {
                        "$ref": "#/components/responses/204"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "409": {
                        "$ref": "#/components/responses/409"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "JWTAuth": []
                    }
                ],
                "summary": "Update a player",
                "description": "Update the Player, which _id is specified in the body. Only Player, which belong to the logged-in Profile can be changed.\n\n| Feature / Requirement | Is / Has | \n| -------- | -------- | \n| Authentication | yes | \n| Authorization   | only for Player owner | \n"
            },
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PlayerCreate"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "Player"
                ],
                "responses": {
                    "201": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/201"
                                },
                                "examples": {
                                    "1": {
                                        "value": {
                                            "data": {
                                                "Player": {
                                                    "objectType": "PlayerDto",
                                                    "_id": "6686cb3b71adebdb10f33ffb",
                                                    "name": "User 2",
                                                    "backpackCapacity": 654,
                                                    "uniqueIdentifier": 2,
                                                    "profile_id": "6686cb3b71adebdb10f33ff9"
                                                }
                                            },
                                            "metaData": {
                                                "dataKey": "Player",
                                                "modelName": "Player",
                                                "dataType": "Object",
                                                "dataCount": 1
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Created"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "409": {
                        "$ref": "#/components/responses/409"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "JWTAuth": []
                    }
                ],
                "summary": "Create a player for logged-in user",
                "description": "Create a new Player. This is not recommended way of creating a new Player and it should be used only in edge cases. The recommended way is to create it via /profile POST endpoint.\n\nPlayer is representing an object, which holds data related to game player. This object can be used inside the game for example while joining a Clan. Notice, that the Profile object should not be used inside the game (except for logging-in). \n\n| Feature / Requirement | Is / Has |\n| -------- | -------- |\n| Authentication | yes |\n| Authorization   | Player can be associated with only one Profile | \n"
            }
        },
        "/player/{_id}": {
            "get": {
                "tags": [
                    "Player"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/200_one"
                                },
                                "examples": {
                                    "1": {
                                        "value": {
                                            "data": {
                                                "Player": {
                                                    "_id": "6686cb3b71adebdb10f33ffb",
                                                    "name": "User 2",
                                                    "backpackCapacity": 654,
                                                    "uniqueIdentifier": 2,
                                                    "profile_id": "6686cb3b71adebdb10f33ff9"
                                                }
                                            },
                                            "metaData": {
                                                "dataKey": "Player",
                                                "modelName": "Player",
                                                "dataType": "Object",
                                                "dataCount": 1
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "description": "OK"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "summary": "Get Player by _id",
                "description": "Read Player data by its _id field\n\n| Feature / Requirement | Is / Has |\n| -------- | -------- |\n| Authentication | no |\n| Authorization   | no |\n| Search | no | \n| Sort | no |\n| Pagination | no | "
            },
            "delete": {
                "tags": [
                    "Player"
                ],
                "responses": {
                    "204": {
                        "$ref": "#/components/responses/204"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "JWTAuth": []
                    }
                ],
                "summary": "Delete Player",
                "description": "Delete Player by its _id field. Notice that only Player, which belongs to loggen-in user Profile can be deleted. In case when the Player is the only admin in some Clan and the Clan has some other Players, the Player can not be removed. User should be asked to first determine at least one admin for the Clan.\n\nAlso, it is not recommended to delete the Player since it can itroduce unexpected behaviour for the user with Profile, but without Player. The better way to remove the Player is do it via /profile DELETE.\n\nPlayer removal basically means removing all data, which is related to the Player: CustomCharacters, Clan, except for the Profile data. In the case when the Profile does not has a Player, user can only login to the system, but can not play the game.\n\n| Feature / Requirement | Is / Has |\n| -------- | -------- |\n| Authentication | yes |\n| Authorization   | only for Player owner |"
            },
            "parameters": [
                {
                    "examples": {
                        "1": {
                            "value": "6686cb3b71adebdb10f33ffb"
                        }
                    },
                    "name": "_id",
                    "description": "player _id",
                    "schema": {
                        "type": "string"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/clan/{_id}": {
            "get": {
                "tags": [
                    "Clan"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/200_one"
                                },
                                "examples": {
                                    "1": {
                                        "value": {
                                            "data": {
                                                "Clan": {
                                                    "_id": "667eedc9b3b5bf0f7a840ef1",
                                                    "name": "User1 clan",
                                                    "tag": "tag1",
                                                    "gameCoins": 90,
                                                    "admin_ids": [
                                                        "666720806cc90102f60bd325"
                                                    ],
                                                    "playerCount": 1,
                                                    "itemCount": 0,
                                                    "stockCount": 0,
                                                    "isOpen": true
                                                }
                                            },
                                            "metaData": {
                                                "dataKey": "Clan",
                                                "modelName": "Clan",
                                                "dataType": "Object",
                                                "dataCount": 1
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "description": "OK"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "summary": "Get Clan by _id",
                "description": "Read Clan data by its _id field\n\n| Feature / Requirement | Is / Has |\n| -------- | -------- |\n| Authentication | no |\n| Authorization   | no |\n| Search | no | \n| Sort | no |\n| Pagination | no | "
            },
            "delete": {
                "tags": [
                    "Clan"
                ],
                "responses": {
                    "204": {
                        "$ref": "#/components/responses/204"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "JWTAuth": []
                    }
                ],
                "summary": "Delete Clan",
                "description": "Delete Clan its _id field. \n\nNotice that only Clan admins can delete the Clan.\n\n| Feature / Requirement | Is / Has |\n| -------- | -------- |\n| Authentication | yes |\n| Authorization   | only for Clan admins |"
            },
            "parameters": [
                {
                    "examples": {
                        "_id": {
                            "value": "667462842425aea94d0f66cb"
                        }
                    },
                    "name": "_id",
                    "schema": {
                        "type": "string"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/clan/join": {
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ClanJoinCreate"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "Clan"
                ],
                "responses": {
                    "201": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/201"
                                },
                                "examples": {
                                    "1": {
                                        "value": {
                                            "data": {
                                                "Join": {
                                                    "objectType": "JoinDto",
                                                    "clan_id": "667bfec6afb8211b4bd8dbff",
                                                    "player_id": "666720806cc90102f60bd325",
                                                    "join_message": "User 2 wants to join"
                                                }
                                            },
                                            "metaData": {
                                                "dataKey": "Join",
                                                "modelName": "Join",
                                                "dataType": "Object",
                                                "dataCount": 1
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Created"
                    },
                    "400": {
                        "$ref": "#/components/responses/400",
                        "x-last-modified": 1718901860622
                    },
                    "401": {
                        "$ref": "#/components/responses/401",
                        "x-last-modified": 1718901883486
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500",
                        "x-last-modified": 1718902019444
                    }
                },
                "security": [
                    {
                        "JWTAuth": []
                    }
                ],
                "summary": "Player requests join to clan",
                "description": "Request to join a Clan. \n\nNotice that if the Clan is open the Player will be joined automatically without admin approval. \n\nNotice that if the Player was in another Clan then he/she will be removed from the old one and if in this Clan was no other Players, it will be removed.\n\n| Feature / Requirement | Is / Has |\n| -------- | -------- |\n| Authentication | yes |\n| Authorization   | no, but for closed Clans there should be an admin approval first | \n\n"
            }
        },
        "/clan/join/leave": {
            "post": {
                "tags": [
                    "Clan"
                ],
                "responses": {
                    "204": {
                        "$ref": "#/components/responses/204"
                    },
                    "401": {
                        "$ref": "#/components/responses/401",
                        "x-last-modified": 1718901883486
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500",
                        "x-last-modified": 1718902019444
                    }
                },
                "security": [
                    {
                        "JWTAuth": []
                    }
                ],
                "summary": "Player requests leave the Clan",
                "description": "Request to leave a Clan. \n\nNotice that Player can leave any Clan without admin approval.\n\n| Feature / Requirement | Is / Has |\n| -------- | -------- |\n| Authentication | yes |\n| Authorization   | no | \n\n"
            }
        },
        "/clan/default": {
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ClanCreate"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "Clan"
                ],
                "responses": {
                    "201": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/201"
                                },
                                "examples": {
                                    "1": {
                                        "value": {
                                            "data": {
                                                "Clan": {
                                                    "objectType": "ClanDto",
                                                    "_id": "667ef139b3b5bf0f7a840f0a",
                                                    "name": "User1 clan",
                                                    "tag": "tag1",
                                                    "gameCoins": 90,
                                                    "admin_ids": [
                                                        "666720806cc90102f60bd325"
                                                    ],
                                                    "playerCount": 1,
                                                    "itemCount": 0,
                                                    "stockCount": 0,
                                                    "isOpen": true,
                                                    "Stock": [
                                                        {
                                                            "objectType": "StockDto",
                                                            "_id": "667ef139b3b5bf0f7a840f0d",
                                                            "type": 1,
                                                            "rowCount": 5,
                                                            "columnCount": 5,
                                                            "clan_id": "667ef139b3b5bf0f7a840f0a"
                                                        }
                                                    ]
                                                }
                                            },
                                            "metaData": {
                                                "dataKey": "Clan",
                                                "modelName": "Clan",
                                                "dataType": "Object",
                                                "dataCount": 1
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Created"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "409": {
                        "$ref": "#/components/responses/409"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "JWTAuth": []
                    }
                ],
                "summary": "Create Clan with Stock and default Items in it",
                "description": "Create a new Clan with Stock containing default Items. Notice that if the Player is already in some other Clan, then he/she can not create a new one."
            }
        },
        "/stock": {
            "get": {
                "tags": [
                    "Stock"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/200"
                                },
                                "examples": {
                                    "1": {
                                        "value": {
                                            "data": {
                                                "Stock": [
                                                    {
                                                        "_id": "66894fbd4a7b6c993aed1a18",
                                                        "type": 0,
                                                        "rowCount": 4,
                                                        "columnCount": 6,
                                                        "clan_id": "667bfec6afb8211b4bd8dbff"
                                                    }
                                                ]
                                            },
                                            "metaData": {
                                                "dataKey": "Stock",
                                                "modelName": "Stock",
                                                "dataType": "Array",
                                                "dataCount": 1
                                            },
                                            "paginationData": {
                                                "currentPage": 1,
                                                "limit": 1,
                                                "offset": 0,
                                                "itemCount": 1,
                                                "pageCount": 1
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "description": "OK"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {}
                ],
                "summary": "Read all stocks",
                "description": "Read all created Stocks of all Clans. Remember about the pagination\n\n| Feature / Requirement | Is / Has |\n| -------- | -------- |\n| Authentication | no |\n| Authorization   | no |\n| Search | yes | \n| Sort | yes |\n| Pagination | yes | ",
                "externalDocs": {
                    "url": "https://github.com/Alt-Org/Altzone-Server/wiki/3.-Data-fetching-(GET-requests)"
                }
            },
            "put": {
                "requestBody": {
                    "description": "Stock object",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StockUpdate"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "Stock"
                ],
                "responses": {
                    "204": {
                        "$ref": "#/components/responses/204"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "409": {
                        "$ref": "#/components/responses/409"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "JWTAuth": []
                    }
                ],
                "summary": "Update a stock",
                "description": "Update the Stock, which _id is specified in the body. \n\nNotice, that only Clan admins to which the Stock belongs to can change the Stock's data.\n\n| Feature / Requirement | Is / Has | \n| -------- | -------- | \n| Authentication | yes | \n| Authorization   | only for Clan admins | \n"
            },
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StockCreate"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "Stock"
                ],
                "responses": {
                    "201": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/201"
                                },
                                "examples": {
                                    "1": {
                                        "value": {
                                            "data": {
                                                "Stock": {
                                                    "objectType": "StockDto",
                                                    "_id": "66894fbd4a7b6c993aed1a18",
                                                    "type": 0,
                                                    "rowCount": 4,
                                                    "columnCount": 6,
                                                    "clan_id": "667bfec6afb8211b4bd8dbff"
                                                }
                                            },
                                            "metaData": {
                                                "dataKey": "Stock",
                                                "modelName": "Stock",
                                                "dataType": "Object",
                                                "dataCount": 1
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Created"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "409": {
                        "$ref": "#/components/responses/409"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "JWTAuth": []
                    }
                ],
                "summary": "Create a stock",
                "description": "Create a new Stock. Stock is representing a place, where Clan items are stored. One Clan may have many Stocks. The Stock may have many Items in it.\n\nNotice, that only Clan's Players can create Stocks both admins and regular members.\n\nThe clan_id field associate the Stock with a Clan. The type field is a enum determining the stock type:\n- None = 0,\n- Public = 1,\n- Proposal = 2\n\n| Feature / Requirement | Is / Has | \n| -------- | -------- | \n| Authentication | yes | \n| Authorization   | Clan members only |\n"
            }
        },
        "/stock/{_id}": {
            "get": {
                "tags": [
                    "Stock"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/200_one"
                                },
                                "examples": {
                                    "1": {
                                        "value": {
                                            "data": {
                                                "Stock": {
                                                    "_id": "66894fbd4a7b6c993aed1a18",
                                                    "type": 0,
                                                    "rowCount": 4,
                                                    "columnCount": 6,
                                                    "clan_id": "667bfec6afb8211b4bd8dbff"
                                                }
                                            },
                                            "metaData": {
                                                "dataKey": "Stock",
                                                "modelName": "Stock",
                                                "dataType": "Object",
                                                "dataCount": 1
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "description": "OK"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {}
                ],
                "summary": "Get Stock by _id",
                "description": "Read Stock data by its _id field.\n\nNotice that everybody is able to read all Stock data\n\n| Feature / Requirement | Is / Has |\n| -------- | -------- |\n| Authentication | no |\n| Authorization   | no |\n| Search | no | \n| Sort | no |\n| Pagination | no | "
            },
            "delete": {
                "tags": [
                    "Stock"
                ],
                "responses": {
                    "204": {
                        "$ref": "#/components/responses/204"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "JWTAuth": []
                    }
                ],
                "summary": "Delete Stock",
                "description": "Delete Stock by its _id field. Notice that only Clan admins can delete the Stock.\n\n| Feature / Requirement | Is / Has |\n| -------- | -------- |\n| Authentication | yes |\n| Authorization   | only for Clan admins |"
            },
            "parameters": [
                {
                    "examples": {
                        "1": {
                            "value": "66894fbd4a7b6c993aed1a18"
                        }
                    },
                    "name": "_id",
                    "description": "Stock _id field",
                    "schema": {
                        "type": "string"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/item": {
            "get": {
                "tags": [
                    "Item"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/200"
                                },
                                "examples": {
                                    "1": {
                                        "value": {
                                            "data": {
                                                "Item": [
                                                    {
                                                        "_id": "668a765091020196cb10d5a3",
                                                        "id": "668a765091020196cb10d5a3"
                                                    },
                                                    {
                                                        "_id": "668a742d91020196cb10d59c",
                                                        "id": "668a742d91020196cb10d59c"
                                                    }
                                                ]
                                            },
                                            "metaData": {
                                                "dataKey": "Item",
                                                "modelName": "Item",
                                                "dataType": "Array",
                                                "dataCount": 2
                                            },
                                            "paginationData": {
                                                "currentPage": 1,
                                                "limit": 2,
                                                "offset": 0,
                                                "itemCount": 84,
                                                "pageCount": 42
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "description": "OK"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {}
                ],
                "summary": "Read all items",
                "description": "Read all created Items. Remember about the pagination\n\n| Feature / Requirement | Is / Has |\n| -------- | -------- |\n| Authentication | no |\n| Authorization   | no |\n| Search | yes | \n| Sort | yes |\n| Pagination | yes | ",
                "externalDocs": {
                    "url": "https://github.com/Alt-Org/Altzone-Server/wiki/3.-Data-fetching-(GET-requests)"
                }
            },
            "put": {
                "requestBody": {
                    "description": "Item object",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ItemUpdate"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "Item"
                ],
                "responses": {
                    "204": {
                        "$ref": "#/components/responses/204"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {}
                ],
                "summary": "Update an item",
                "description": "Update the Item, which _id is specified in the body.\n\nNotice, that there is no authentication needed to update an Item as well as where are no authorization rules.\n\n| Feature / Requirement | Is / Has | \n| -------- | -------- | \n| Authentication | no | \n| Authorization   | no |"
            },
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ItemCreate"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "Item"
                ],
                "responses": {
                    "201": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/201"
                                },
                                "examples": {
                                    "1": {
                                        "value": {
                                            "data": {
                                                "Item": {
                                                    "objectType": "ItemDto",
                                                    "_id": "668a70ce91020196cb10d595",
                                                    "name": "item1",
                                                    "shape": "shape1",
                                                    "weight": 67,
                                                    "material": "mat1",
                                                    "recycling": "rec1",
                                                    "unityKey": "unity1",
                                                    "filename": "file1",
                                                    "rowNumber": 1,
                                                    "columnNumber": 1,
                                                    "isInStock": true,
                                                    "isFurniture": true,
                                                    "stock_id": "668953cd4a7b6c993aed1a36"
                                                }
                                            },
                                            "metaData": {
                                                "dataKey": "Item",
                                                "modelName": "Item",
                                                "dataType": "Object",
                                                "dataCount": 1
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Created"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {}
                ],
                "summary": "Create an item",
                "description": "Create a new Item. The Item represents an unit of which the Stock is consists of. Stock may have many Items, but Item can belong to one Stock only.\n\nThe stock_id defines to whch Stock the Item is belongs to.\n\nNotice, that there is no authentication needed to create an Item as well as where are no authorization rules.\n\n| Feature / Requirement | Is / Has | \n| -------- | -------- | \n| Authentication | no | \n| Authorization   | no |\n"
            }
        },
        "/item/{_id}": {
            "get": {
                "tags": [
                    "Item"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/200_one"
                                },
                                "examples": {
                                    "1": {
                                        "value": {
                                            "data": {
                                                "Item": {
                                                    "_id": "668a70ce91020196cb10d595",
                                                    "name": "item1",
                                                    "shape": "shape1",
                                                    "weight": 67,
                                                    "material": "mat1",
                                                    "recycling": "rec1",
                                                    "unityKey": "unity1",
                                                    "filename": "file1",
                                                    "rowNumber": 1,
                                                    "columnNumber": 1,
                                                    "isInStock": true,
                                                    "isFurniture": true,
                                                    "stock_id": "668953cd4a7b6c993aed1a36"
                                                }
                                            },
                                            "metaData": {
                                                "dataKey": "Item",
                                                "modelName": "Item",
                                                "dataType": "Object",
                                                "dataCount": 1
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "description": "OK"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {}
                ],
                "summary": "Get Item by _id",
                "description": "Read Item data by its _id field\n\n| Feature / Requirement | Is / Has |\n| -------- | -------- |\n| Authentication | no |\n| Authorization   | no |\n| Search | no | \n| Sort | no |\n| Pagination | no | "
            },
            "delete": {
                "tags": [
                    "Item"
                ],
                "responses": {
                    "204": {
                        "$ref": "#/components/responses/204"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {}
                ],
                "summary": "Delete Item",
                "description": "Delete Item by its _id field. \n\nNotice that currently anyone can delete any Item.\n\n| Feature / Requirement | Is / Has |\n| -------- | -------- |\n| Authentication | no |\n| Authorization   | no |"
            },
            "parameters": [
                {
                    "examples": {
                        "1": {
                            "value": "668a70ce91020196cb10d595"
                        }
                    },
                    "name": "_id",
                    "description": "item _id field",
                    "schema": {
                        "type": "string"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/soulhome": {
            "get": {
                "tags": [
                    "SoulHome"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/200"
                                },
                                "examples": {
                                    "1": {
                                        "value": {
                                            "data": {
                                                "SoulHome": [
                                                    {
                                                        "_id": "668c11499470819cf38e374c",
                                                        "id": "668c11499470819cf38e374c"
                                                    },
                                                    {
                                                        "_id": "667ef139b3b5bf0f7a840f2d",
                                                        "id": "667ef139b3b5bf0f7a840f2d"
                                                    }
                                                ]
                                            },
                                            "metaData": {
                                                "dataKey": "SoulHome",
                                                "modelName": "SoulHome",
                                                "dataType": "Array",
                                                "dataCount": 1
                                            },
                                            "paginationData": {
                                                "currentPage": 1,
                                                "limit": 2,
                                                "offset": 0,
                                                "itemCount": 1,
                                                "pageCount": 1
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "description": "OK"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {}
                ],
                "summary": "Read all soulhomes",
                "description": "Read all created SoulHomes. Remember about the pagination\n\n| Feature / Requirement | Is / Has |\n| -------- | -------- |\n| Authentication | no |\n| Authorization   | no |\n| Search | yes | \n| Sort | yes |\n| Pagination | yes | ",
                "externalDocs": {
                    "url": "https://github.com/Alt-Org/Altzone-Server/wiki/3.-Data-fetching-(GET-requests)"
                }
            },
            "put": {
                "requestBody": {
                    "description": "SoulHome object",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SoulHomeUpdate"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "SoulHome"
                ],
                "responses": {
                    "204": {
                        "$ref": "#/components/responses/204"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "409": {
                        "$ref": "#/components/responses/409"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "JWTAuth": []
                    }
                ],
                "summary": "Update a soulhome",
                "description": "Update the SoulHome, which id is specified in the body. \n\nNotice, that only Clan admins can change the SoulHome's data.\n\n| Feature / Requirement | Is / Has | \n| -------- | -------- | \n| Authentication | yes | \n| Authorization   | only for Clan admins |\n"
            },
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SoulHomeCreate"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "SoulHome"
                ],
                "responses": {
                    "201": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/201"
                                },
                                "examples": {
                                    "1": {
                                        "value": {
                                            "data": {
                                                "SoulHome": {
                                                    "objectType": "SoulHomeDto",
                                                    "_id": "668c0e9f9470819cf38e371c",
                                                    "type": "type1",
                                                    "clan_id": "667bfec6afb8211b4bd8dbff",
                                                    "rooms": []
                                                }
                                            },
                                            "metaData": {
                                                "dataKey": "SoulHome",
                                                "modelName": "SoulHome",
                                                "dataType": "Object",
                                                "dataCount": 1
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Created"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "409": {
                        "$ref": "#/components/responses/409"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "JWTAuth": []
                    }
                ],
                "summary": "Create a soulhome",
                "description": "Create a new SoulHome. Soulhome consists of Rooms. The clan_id specifies, which Clan owns the SoulHome. There can be one SoulHome for one Clan.\n\nNotice, that only Clan admins can create a SoulHome for the Clan.\n\n| Feature / Requirement | Is / Has | \n| -------- | -------- | \n| Authentication | yes | \n| Authorization   | Clan admins only |\n"
            }
        },
        "/soulhome/{_id}": {
            "get": {
                "tags": [
                    "SoulHome"
                ],
                "parameters": [
                    {
                        "name": "_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/200_one"
                                },
                                "examples": {
                                    "1": {
                                        "value": {
                                            "data": {
                                                "SoulHome": {
                                                    "_id": "668c0e9f9470819cf38e371c",
                                                    "type": "type1",
                                                    "clan_id": "667bfec6afb8211b4bd8dbff",
                                                    "rooms": []
                                                }
                                            },
                                            "metaData": {
                                                "dataKey": "SoulHome",
                                                "modelName": "SoulHome",
                                                "dataType": "Object",
                                                "dataCount": 1
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "description": "OK"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {}
                ],
                "summary": "Get SoulHome by _id",
                "description": "Read SoulHome data by its _id field\n\n| Feature / Requirement | Is / Has |\n| -------- | -------- |\n| Authentication | no |\n| Authorization   | no |\n| Search | no | \n| Sort | no |\n| Pagination | no | "
            },
            "delete": {
                "tags": [
                    "SoulHome"
                ],
                "parameters": [
                    {
                        "name": "_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "204": {
                        "$ref": "#/components/responses/204"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "JWTAuth": []
                    }
                ],
                "summary": "Delete SoulHome",
                "description": "Delete SoulHome by its _id field. Notice that only Clan admins can delete the SoulHome.\n\n| Feature / Requirement | Is / Has |\n| -------- | -------- |\n| Authentication | yes |\n| Authorization   | only for Clan admins |"
            }
        },
        "/room": {
            "get": {
                "tags": [
                    "Room"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/200"
                                },
                                "examples": {
                                    "1": {
                                        "value": {
                                            "data": {
                                                "Room": [
                                                    {
                                                        "_id": "668d6474a9292e300e94c84b",
                                                        "id": "668d6474a9292e300e94c84b"
                                                    }
                                                ]
                                            },
                                            "metaData": {
                                                "dataKey": "Room",
                                                "modelName": "Room",
                                                "dataType": "Array",
                                                "dataCount": 1
                                            },
                                            "paginationData": {
                                                "currentPage": 1,
                                                "limit": 1,
                                                "offset": 0,
                                                "itemCount": 1,
                                                "pageCount": 1
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "description": "OK"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "summary": "Read all rooms",
                "description": "Read all created Rooms. Remember about the pagination\n\n| Feature / Requirement | Is / Has |\n| -------- | -------- |\n| Authentication | no |\n| Authorization   | no |\n| Search | yes | \n| Sort | yes |\n| Pagination | yes | ",
                "externalDocs": {
                    "url": "https://github.com/Alt-Org/Altzone-Server/wiki/3.-Data-fetching-(GET-requests)"
                }
            },
            "put": {
                "requestBody": {
                    "description": "Room object",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RoomUpdate"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "Room"
                ],
                "responses": {
                    "200": {
                        "description": "Success, no body"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "JWTAuth": []
                    }
                ],
                "summary": "Update a room",
                "description": "Update the Room, which id is specified in the body.\n\nNotice, that only Room owners can change the Room's data. The Room owner is the one whos player_id is specified in the Room data.\n\n| Feature / Requirement | Is / Has | \n| -------- | -------- | \n| Authentication | yes | \n| Authorization  | only for Room owners |\n"
            },
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RoomCreate"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "Room"
                ],
                "responses": {
                    "201": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/201"
                                },
                                "examples": {
                                    "1": {
                                        "value": {
                                            "data": {
                                                "Room": {
                                                    "objectType": "RoomDto",
                                                    "_id": "668d6003a9292e300e94c833",
                                                    "floorType": "floor1",
                                                    "wallType": "wall1",
                                                    "isActive": false,
                                                    "roomItems": [],
                                                    "player_id": "665df7026bf5b8f670569ea4",
                                                    "soulHome_id": "667ef139b3b5bf0f7a840f2d"
                                                }
                                            },
                                            "metaData": {
                                                "dataKey": "Room",
                                                "modelName": "Room",
                                                "dataType": "Object",
                                                "dataCount": 1
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Created"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {}
                ],
                "summary": "Create a room",
                "description": "Create a new Room. The specified player_id will assosiate the Room with a Player and soulHome_id with SoulHome. One Room can belong to one Player. Many Rooms can belong to one SoulHome. One Room can have many Items.\n\nNotice that isActive will be set to false and roomItems to empty array. These values can be modified with /room PUT request. \n\n| Feature / Requirement | Is / Has | \n| -------- | -------- | \n| Authentication | no | \n| Authorization   | no | \n"
            }
        },
        "/room/{_id}": {
            "get": {
                "tags": [
                    "Room"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/200_one"
                                },
                                "examples": {
                                    "1": {
                                        "value": {
                                            "data": {
                                                "Room": {
                                                    "_id": "668d6003a9292e300e94c833",
                                                    "floorType": "floor1",
                                                    "wallType": "wall1",
                                                    "isActive": false,
                                                    "roomItems": [],
                                                    "player_id": "665df7026bf5b8f670569ea4",
                                                    "soulHome_id": "667ef139b3b5bf0f7a840f2d"
                                                }
                                            },
                                            "metaData": {
                                                "dataKey": "Room",
                                                "modelName": "Room",
                                                "dataType": "Object",
                                                "dataCount": 1
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "description": "OK"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {}
                ],
                "summary": "Get Room by _id",
                "description": "Read Room data by its _id field\n\n| Feature / Requirement | Is / Has |\n| -------- | -------- |\n| Authentication | no |\n| Authorization   | no |\n| Search | no | \n| Sort | no |\n| Pagination | no |"
            },
            "delete": {
                "tags": [
                    "Room"
                ],
                "responses": {
                    "200": {
                        "description": "Success, no body"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "JWTAuth": []
                    }
                ],
                "summary": "Delete Room",
                "description": "Delete Room by its _id field. Notice that only Room owners can delete the Room.\n\n| Feature / Requirement | Is / Has |\n| -------- | -------- |\n| Authentication | yes |\n| Authorization   | only for Room admins |"
            },
            "parameters": [
                {
                    "examples": {
                        "1": {
                            "value": "668d5ffaa9292e300e94c82e"
                        }
                    },
                    "name": "_id",
                    "description": "room _id field",
                    "schema": {
                        "type": "string"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/itemShop": {
            "get": {
                "tags": [
                    "ItemShop"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "ItemShop": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "_id": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "lastRestock": {
                                                                "type": "integer"
                                                            },
                                                            "items": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "item_id": {
                                                                            "type": "string"
                                                                        },
                                                                        "isInVoting": {
                                                                            "type": "boolean"
                                                                        },
                                                                        "isSold": {
                                                                            "type": "boolean"
                                                                        }
                                                                    }
                                                                }
                                                            },
                                                            "__v": {
                                                                "type": "integer"
                                                            },
                                                            "id": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
[...]
