*{
    /*outline: 1px solid red;*/
}

body{
    background-color: black;

    font-family: "Arial", serif;
    font-size: 1.5em;
    color: white;
}

h2{
    display: block;
    font-size: 2em;
}

a{
    color: red;
}

#mainSection{
    width: 90%;
    margin: 20px auto;
}
#mainArticle *{
    width: 90%;
    margin: 10px auto 40px auto;
}
#mainImg{
    display: block;
    max-width: 400px;
}